<!DOCTYPE html>
<html>

    <head>
        <title>My App</title>
    </head>

    <body class="ec-m-0">
        <div id="ec-composer" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999;"></div>
        <script type="module" src="public/js/ec.js"></script>
        <script type="module" src="public/js/my.js"></script>
    </body>

</html>