// MARGIN CLASSES
.ec-m-0 {
    margin: 0 !important;
}

.ec-mt-1 {
    margin-top: 5px;
}

.ec-mt-2 {
    margin-top: 10px;
}

.ec-mt-3 {
    margin-top: 15px;
}

.ec-mt-4 {
    margin-top: 20px;
}

.ec-mt-5 {
    margin-top: 25px;
}

.ec-mr-1 {
    margin-right: 5px;
}

.ec-mr-2 {
    margin-right: 10px;
}

.ec-mr-3 {
    margin-right: 15px;
}

.ec-mr-4 {
    margin-right: 20px;
}

.ec-mr-5 {
    margin-right: 25px;
}

.ec-mb-1 {
    margin-bottom: 5px;
}

.ec-mb-2 {
    margin-bottom: 10px;
}

.ec-mb-3 {
    margin-bottom: 15px;
}

.ec-mb-4 {
    margin-bottom: 20px;
}

.ec-mb-5 {
    margin-bottom: 25px;
}

.ec-ml-1 {
    margin-left: 5px;
}

.ec-ml-2 {
    margin-left: 10px;
}

.ec-ml-3 {
    margin-left: 15px;
}

.ec-ml-4 {
    margin-left: 20px;
}

.ec-ml-5 {
    margin-left: 25px;
}