// DISPLAY CLASSES

.ec-display-block {
    display: block;
}

.ec-display-inline {
    display: inline;
}

.ec-display-inline-block {
    display: inline-block;
}

.ec-display-flex {
    display: flex;
}

.ec-display-inline-flex {
    display: inline-flex;
}

.ec-display-grid {
    display: grid;
}

.ec-display-inline-grid {
    display: inline-grid;
}

.ec-display-flow-root {
    display: flow-root;
}

.ec-display-none {
    display: none;
}

.ec-display-contents {
    display: contents;
}

.ec-display-table {
    display: table;
}

.ec-display-table-row {
    display: table-row;
}

.ec-display-list-item {
    display: list-item;
}

.ec-display-inherit {
    display: inherit;
}

.ec-display-initial {
    display: initial;
}

.ec-display-revert {
    display: revert;
}

.ec-display-revert-layer {
    display: revert-layer;
}

.ec-display-unset {
    display: unset;
}