// JUSTIFY CLASSES

.ec-justify-content-start {
    justify-content: start;
}

.ec-justify-content-center {
    justify-content: center;
}

.ec-justify-content-end {
    justify-content: end;
}

.ec-justify-content-space-between {
    justify-content: space-between;
}

.ec-justify-content-space-around {
    justify-content: space-around;
}

.ec-justify-content-space-evenly {
    justify-content: space-evenly;
}