// EC COLORS
$color-black-light: #363637;
$color-black: #12130f;
$color-black-dark: #0e0b00;
$color-blue-light: #dff1fd;
$color-blue: #4a6fa5;
$color-blue-dark: #113260;
$color-green-light: #76adbc;
$color-green: #00747b;
$color-violet-light: #b8c7ff;
$color-violet: #5858ad;
$color-grey-light: #fcfcfc;
$color-grey: #edeef0;
$color-grey-dark: #dcdee2;
$color-brown-light: #5b6057;
$color-brown: #29292a;
$color-brown-dark: #1b1b1c;
$color-brown-switcher: #828285;
$color-red-light: #eab8c3;
$color-red: #e74839;
$color-red-dark: #9a233e;
$color-section: #ded2cf;
$color-menu: #76adbc;