// EC FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Didact+Gothic&family=Work+Sans:wght@200;300;400;500&family=IBM+Plex+Sans+Thai:wght@300;400;500&display=swap');

// EC FONTS
$font-1: 'Poppins', sans-serif;
$font-2: 'Didact Gothic', sans-serif;
$font-3: 'Work Sans', sans-serif;
$font-4: 'IBM Plex Sans Thai', sans-serif;