// HISTORY COMPONENT
.ec-history-component {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    .ec-block-body {

        .ec-history-records {
            display: block;
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
            padding: 10px 15px;
            width: 100%;
            height: auto;
            border-radius: $sections-elements-box-radius;
            background-color: #FFFFFF;
            box-shadow: $sections-elements-box-shadow;

            .ec-history-title {
                display: flex;
                justify-content: space-between;
                margin: 0;

                & > span {
                    display: inline-flex;
                    line-height: 20px;
                    text-transform: uppercase;
                    font-family: $font-3;
                    font-size: 12px;
                    font-weight: 500;
                    color: $color-brown;
                }

                & > a {
                    display: inline-flex;
                    border-bottom: 1px solid transparent;
                    line-height: 20px;
                    text-decoration: none;
                    font-family: $font-1;
                    font-size: 12px;
                    font-weight: 400;
                    color: $color-brown-light;

                    &:hover {
                        border-bottom: 1px solid $color-brown-light;
                    }

                }

            }

            .ec-history-record {
                margin-bottom: 15px;
                list-style: none;
                border-radius: $sections-elements-box-radius;
                background-color: rgba($color: $color-blue-dark, $alpha: 0.02);
                transition: background-color 0.3s linear;

                &.ec-history-record-active {
                    background-color: #d4f0f1;
                }

                &.ec-history-record-preview {
                    background-color: rgba($color: $color-blue-dark, $alpha: 0.1);
                }

                &:last-child {
                    margin-bottom: 10px;
                }

                .ec-grid {
                    padding: 10px 15px;
                    text-decoration: none;

                    .ec-grid-column-7 {
                        pointer-events: none;

                        span {
                            width: fit-content;
                            font-family: $font-1;
                            font-size: 12px;
                            font-weight: 400;
                            color: $color-black-dark;
                        }

                    }

                    .ec-grid-column-5 {
                        position: relative;

                        .ec-button {
                            position: absolute;
                            top: -2.5px;
                            right: 0px;
                            padding: 3px 10px;
                            border-radius: $sections-elements-box-radius;
                            letter-spacing: 0.2px;
                            font-family: $font-2;
                            font-size: 11px;
                            font-weight: 300;
                            background-color: rgba($color: $color-brown, $alpha: 0.7);
                            color: #FFFFFF;

                            &:hover {
                                background-color: rgba($color: $color-brown, $alpha: 0.4);
                            }

                            & > div {
                                display: inline-block;
                                vertical-align: middle;
                                margin: -3px 0 0 7px;   
                                pointer-events: none;                             

                                & > * {
                                    vertical-align: middle;
                                    font-size: 16px;
                                }

                            }

                            &.ec-history-restore-active-button {

                                & > div {                            

                                    & > * {
                                        animation: 2s ec-rotate-icon-animation-back infinite linear;
                                    }

                                }
                                
                            }

                        }

                    }

                }

            }

            .ec-history-navigation {
                list-style: none;

                .ec-loading-navigation-button {
                    text-align: center;

                    a {
                        border-bottom: 1px solid transparent;
                        line-height: 20px;
                        text-decoration: none;
                        font-family: $font-1;
                        font-size: 12px;
                        font-weight: 400;
                        color: $color-black-dark;
    
                        &:hover {
                            border-bottom: 1px solid $color-black-dark;
                        }

                        & > * {
                            vertical-align: middle;
                            margin-top: -2px;
                            margin-right: 5px;
                            font-size: 14px;
                        }
    
                    }

                }

            }

            .ec-history-records-preview,
            .ec-history-records-list {
                transition: all 0.3s linear;
            }

            .ec-history-records-preview {
                margin: 10px 0 0;
                padding: 0;
                width: 100%;
            }

            .ec-history-records-list {
                display: none;
                margin: 10px 0 0;
                padding: 0;
                width: 100%;
                height: 147px;
                overflow-y: auto;

                @include ec-mixin-scrollbar(4px, 4px, 4px, transparent, $color-grey-dark);
                
            }

            &.ec-history-records-all {

                .ec-history-title {
            
                    & > a {
                        border-bottom: 1px solid $color-brown-light;
                    }
            
                }

                .ec-history-records-preview {
                    display: none;
                }
    
                .ec-history-records-list {
                    display: inherit;
                    width: calc(100% + 4px);
                    height: 200px;
                }            
    
            }

            &.ec-history-records-all-hide {

                .ec-history-records-list {
                    width: calc(100% + 4px);
                    height: 147px;
                }

            }

            &.ec-history-records-all-show {

                .ec-history-records-preview {
                    display: none;
                }
    
                .ec-history-records-list {
                    display: inherit;
                    width: calc(100% + 4px);
                    height: 147px;
                }

            }

        }

    }

}